.container {
  display: flex;
  flex-wrap: wrap;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: 5px;
}

.css-input {
  padding: 4px;
  font-size: 16px;
  border-width: 4px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: -1px 0px 11px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.62);
}
